<!--
Stephan Moncavage
CST-451
Capstone Project
08 May 2022
Form handler for Registration Module in HTML
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><?php echo $page_title ?? "Garden Watering"; ?></title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="../css/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="../css/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../css/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="../css/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="../css/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="../css/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="../css/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="../css/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="../css/assets/css/responsive.css">
</head>

<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="index.php">
							<img src="../css/assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- logo -->

					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li><a href="index.php">Home</a></li>
							<li><a href="About.php">About</a></li>
							<!--<li><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="../css/404.html">404 page</a></li>
                                    <li><a href="About.php">About</a></li>
                                    <li><a href="cart.php">Cart</a></li>
                                    <li><a href="checkout.php">Check Out</a></li>
                                    <li><a href="Contact.php">Contact</a></li>
                                    <li><a href="Store.php">Shop</a></li>
                                </ul>
                            </li>
                            -->
							<li><a href="sensor.php">Sensor</a></li>
							<li><a href="Contact.php">Contact</a></li>
							<li><a href="Store.php">Shop</a>
								<ul class="sub-menu">
									<li><a href="Store.php">Shop</a></li>
									<li><a href="checkout.php">Check Out</a></li>
									<li><a href="cart_item.php">Single Product</a></li>
									<li><a href="cart.php">Cart</a></li>
								</ul>
							</li>
							<li>
								<div class="header-icons">
									<a class="shopping-cart" href="cart.php"><i class="fas fa-shopping-cart"></i></a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</div>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<label><input type="text" id="search" placeholder="Keywords"/></label>
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search area -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Please Enter you Registration Information Below</p>
					<h1>Register</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- register form -->
<div class="contact-from-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mb-5 mb-lg-0">
				<div class="form-title">
					<h2>Please Enter you Registration Information Below</h2>
				</div>
			 	<div id="form_status"></div>
				<div class="contact-form">
					<form action = "./register.php" method = "POST" style="margin: 0 auto">
						<p>
						<div></div>
						<label><input class = "login-input" type = "text" name = "firstname" placeholder = "First Name"/></label>
						<div></div>
						<br/>
						<label><input class = "login-input" type = "text" name = "lastname" placeholder = "Last Name"/></label>
						<br/>
						<br/>
						<label><input class = "login-input" type = "text" name = "username"  placeholder = "Username"/></label>
						<div style="opacity: 0.0;">...</div>
						<label><input class = "login-input" type = "email" name = "email" placeholder="email@host.com" /></label>
						<br/>
						<br/>
						<label><input class = "login-input" type = "password" name = "pass1" placeholder = "Select Password"/></label>
						<div style="opacity: 0.0;">....................</div>
						<label><input class = "login-input" type = "password" name = "pass2"  placeholder = "Repeat Password"/></label>
						<br/>
						<br/>
						<label><input class = "login-input" type = "text" name = "address1" placeholder="123 East Ave" /></label>
						<div style="opacity: 0.0;">........</div>
						<label><input class = "login-input" type = "text" name = "address2" placeholder = "optional line 2"/></label>
						<br/>
						<br/>
						<label><input class = "login-input" type = "text" name = "city"   placeholder = "City"/></label>
						<div style="opacity: 0.0;">........</div>
						<label><input type = "text" pattern="^(?(^00000(|-0000))|(\d{5}(|-\d{4})))$" name = "zipcode" placeholder="Parcel/Zip Code" /></label>
						<br/>
						<br/>
						<b>State:</b> <label><select id="state" name="state">
							<option value="Not Selected" selected>Not Selected</option>
							<option value="AL">AL</option>
							<option value="AK">AK</option>
							<option value="AR">AR</option>
							<option value="AZ">AZ</option>
							<option value="CA">CA</option>
							<option value="CO">CO</option>
							<option value="CT">CT</option>
							<option value="DC">DC</option>
							<option value="DE">DE</option>
							<option value="FL">FL</option>
							<option value="GA">GA</option>
							<option value="HI">HI</option>
							<option value="IA">IA</option>
							<option value="ID">ID</option>
							<option value="IL">IL</option>
							<option value="IN">IN</option>
							<option value="KS">KS</option>
							<option value="KY">KY</option>
							<option value="LA">LA</option>
							<option value="MA">MA</option>
							<option value="MD">MD</option>
							<option value="ME">ME</option>
							<option value="MI">MI</option>
							<option value="MN">MN</option>
							<option value="MO">MO</option>
							<option value="MS">MS</option>
							<option value="MT">MT</option>
							<option value="NC">NC</option>
							<option value="NE">NE</option>
							<option value="NH">NH</option>
							<option value="NJ">NJ</option>
							<option value="NM">NM</option>
							<option value="NV">NV</option>
							<option value="NY">NY</option>
							<option value="ND">ND</option>
							<option value="OH">OH</option>
							<option value="OK">OK</option>
							<option value="OR">OR</option>
							<option value="PA">PA</option>
							<option value="RI">RI</option>
							<option value="SC">SC</option>
							<option value="SD">SD</option>
							<option value="TN">TN</option>
							<option value="TX">TX</option>
							<option value="UT">UT</option>
							<option value="VT">VT</option>
							<option value="VA">VA</option>
							<option value="WA">WA</option>
							<option value="WI">WI</option>
							<option value="WV">WV</option>
							<option value="WY">WY</option>
							<option value="AS">AS</option>
							<option value="GU">GU</option>
							<option value="MP">MP</option>
							<option value="PR">PR</option>
							<option value="UM">UM</option>
							<option value="VI">VI</option>
							<option value="AA">AA</option>
							<option value="AP">AP</option>
							<option value="AE">AE</option>
					</select></label>
					<div style="opacity: 0.0;">............</div>
					<b>Country:</b> <label><select id="country" name = "country">
						<option value="Not Selected">Not Selected</option>
						<option value="US">United States</option>
						<option value="UM">United States Minor Outlying Islands</option>
					</select></label>
					<br/>
					<br/>
					* Must be within the United States or it's territories to use this product. *
					<br/>
					<br/>
					<b>Account Type:</b> <label><select id="role" name = "role" >
						<option value = "General" selected>General</option>
						<option value = "Admin">Admin</option>
						<option value = "SuperAdmin">SuperAdmin</option>
					</select></label>
					<br/>
					<br/>
					<br/>
						<div class = hero-btns>
						<label><input type = "submit" name = "submit" value = "Submit" /></label>
						</div>
					</form>
					<label><a href = "index.php" ><input type = "submit" name = "submit" value = "Cancel" /></a></label>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contact-form-wrap">
					<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> Shop Address</h4>
						<p>1234, East Huntingon Rd <br> Horris, Georgia. <br> USA</p>
					</div>
					<div class="contact-form-box">
						<h4><i class="fas fa-address-book"></i> Contact</h4>
						<p>Phone: +1 111 222 3333 <br> Email: support@autogarden.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end contact form -->


<div>
	<!-- /row -->

</div>
<!-- /container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="../css/assets/bootstrap/js/bootstrap.min.js"></script>

<script>
	$(document).ready(function(){
		// add to cart button listener
		$('.add-to-cart-form').on('submit', function(){

			// info is in the table / single product layout
			var id = $(this).find('.product-id').text();
			var quantity = $(this).find('.cart-quantity').val();

			// redirect to add.php, with parameter values to process the request
			window.location.href = "add.php?id=" + id + "&quantity=" + quantity;
			return false;
		});

		// update quantity button listener
		$('.update-quantity-form').on('submit', function(){

			// get basic information for updating the cart
			var id = $(this).find('.product-id').text();
			var quantity = $(this).find('.cart-quantity').val();

			// redirect to update_quantity.php, with parameter values to process the request
			window.location.href = "update.php?id=" + id + "&quantity=" + quantity;
			return false;
		});

		// change product image on hover
		$(document).on('mouseenter', '.product-img-thumb', function(){
			var data_img_id = $(this).attr('data-img-id');
			$('.product-img').hide();
			$('#product-img-'+data_img_id).show();
		});

	});
</script>

<footer>
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Just a simple student starting out a wonderful career full of software and web based development opportunities .</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>South of Atlanta Area.</li>
							<li>support@testing.com</li>
							<li>+1 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="mail.php">
							<label><input type="email" placeholder="Email"></label>
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2022 - <a href="https://www.linkedin.com/in/stephan-moncavage-0a484967">Stephan Moncavage</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->

	<!-- jquery -->
	<script src="../css/assets/js/jquery-3.6.0.min.js"></script>
	<!-- bootstrap -->
	<script src="../css/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="../css/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="../css/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="../css/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="../css/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="../css/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="../css/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="../css/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="../css/assets/js/main.js"></script>
</footer>
</html>
