body {
    background: #baebea;
	text-align: center;
}
.form {
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: grey;
}
.form2 {
    margin: 50px auto;
    width: 400px;
    padding: 30px 25px;
    background: #baebea;
}
h1.login-title {
    color: #fff;
    margin: 0px auto 25px;
    font-size: 25px;
    text-align: center;
}

h3.home-title {
    color: #062384;
    margin: 0px auto 25px;
    font-size: 5em;
	font-weight: bold;
	font-family: Brush Script MT, cursive;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    height: 15px;
    width: calc(95% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 95%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.login-text{
	text-align: left;
	font-size: 14px;
}
.table, th, td{
	border: 3px solid rgb(0, 0, 0)k;
	text-align: center;
	font-size: 14px;
}
table, th, td{
	border: 3px solid rgb(0, 0, 0)k;
	text-align: center;
	font-size: 14px;
}
th, td, tr{
	padding: 10px;
	text-align: center;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #98574;
}
h3 {
    font-weight: normal;
    text-align: center;
}
nav {
	display: block;
	background: #55a1ff;
	font-weight: Bold;
	font-family: lucidia console, monospace;
	font-size: 24px;
    text-align: center;
	color: #fff;
	list-style-type: none;
	margin: 10;
	padding: 10;
}